@media (max-width: 1650px) {
    .first__gerb {
        max-width: 370px;
    }

    .first__man {
        max-width: 510px;
    }

    .steps__passport {
        max-width: 255px;
    }

    .steps__decorGerb {
        max-width: 286px;
    }

    .lastStep__img {
        max-width: 389px;
    }

    .thanksQuiz__chinatown {
        max-width: 545px;
    }
}

@media (max-width: 1440px) {
    .first__gerb {
        max-width: 315px;
    }

    .first__man {
        max-width: 450px;
    }

    .first__main--title {
        font-size: 45px;
        line-height: 57px;
    }

    .first__main--description {
        font-size: 27px;
        line-height: 34px;
    }

    .steps__passport {
        max-width: 195px;
    }

    .steps__decorGerb {
        max-width: 224px;
    }

    .lastStep__img {
        max-width: 329px;
    }

    .thanksQuiz__chinatown {
        max-width: 502px;
    }
}

@media (max-width: 1200px) {
    .nav__main--logo-text {
        font-size: 24px;
    }

    .nav__main--logo-text span {
        font-size: 18px;
        line-height: 18px;
    }

    .nav__main--advertising img {
        max-width: 150px;
    }

    .first__gerb {
        max-width: 255px;
    }

    .first__man {
        max-width: 414px;
    }

    .first__main--title {
        font-size: 38px;
        line-height: 50px;
    }

    .first__main--description {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 39px;
        line-height: 50px;
    }

    .lastStep__img {
        max-width: 255px;
    }

    .thanksQuiz__chinatown {
        max-width: 437px;
    }

    // 
    .modal__dialog {
        padding: 0 20px 30px;
        min-height: 540px;
        max-width: 310px;
        justify-content: end;

        img {
            top: 20px;
            right: 20px;
            max-width: 15px;
        }
    }

    .modal__dialog--title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .modal__dialog--description {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .modal-main {
        min-height: 330px;
        max-width: 310px;
    }

    .modal-thanks img {
        top: 20px;
        right: 20px;
        max-width: 15px;
    }

    .modal-thanks-decor {
        max-width: 80px !important;
    }
}

@media (max-width: 991px) {
    body {
        overflow: scroll;
    }

    main {
        height: 100%;
    }

    .nav {
        padding: 10px 0;
    }

    .first {
        padding: 20px 0 52px;
        background-size: contain;
    }

    .nav__main--advertising {
        display: none;
    }

    .btn-nav {
        display: none;
    }

    .btn__mobile {
        display: block !important;
        background-color: transparent;
    }

    .first__img {
        display: none;
    }

    .footer__main {
        padding: 16px 0;
    }

    .first__main--man-mobile {
        display: block;
        margin: 0 auto;
        max-width: 305px;
    }

    .first__main--title {
        margin-bottom: 15px;
    }

    .first__main--description {
        margin-bottom: 20px;
    }

    .steps .container {
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        display: block;
    }

    .title {
        font-size: 34px;
        line-height: 45px;
    }

    .steps__main--btnGroup {
        flex-direction: column;
    }

    .btn-prev {
        max-width: 405px;
        margin: 0 0 10px;
    }

    .steps__main--btnGroup-next {
        max-width: 405px;
    }

    .steps__main {
        margin-bottom: 16px;
    }

    .steps__argument--element img {
        max-width: 45px;
    }

    .steps__argument--element-description {
        font-size: 14px;
        line-height: 18px;
    }

    .steps-mobile-logo {
        display: flex !important;
        justify-content: center;
        margin-bottom: 20px;
    }

    .lastStep__img {
        display: none;
    }

    .lastStep__main {
        padding: 40px 0;
    }

    .accept {
        margin: 10px 0 20px;
    }

    .kyrgyz-mob {
        display: block;
        margin: 0 auto;
    }

    .lastStep {
        background-position: 0 30px;
        background-size: contain;
    }

    .thanksQuiz {
        min-height: 660px;
        // background-size: 600px;
        background-size: 600px;
        background-position: center 90px;
    }

    .thanksQuiz__chinatown {
        max-width: 290px;
    }
}

@media (max-width: 767px) {
    .steps__img {
        display: none;
    }

    .steps {
        background-position: 0 35px;
        background-size: contain;
    }

    .label-question {
        margin-bottom: 10px;
        width: 100%;
    }

    .text-question {
        font-size: 15px;
        line-height: 18px;
    }

    .input-question:checked+.text-question {
        font-size: 15px;
        line-height: 18px;
    }

    .input {
        font-size: 15px;
        line-height: 18px;
    }


    .wrapper-input {
        max-width: 100%;
    }

    .btn-prev {
        max-width: 100%;
    }

    .steps__main--btnGroup-next {
        max-width: 100%;
    }

    .steps__argument {
        flex-direction: column;

        &--element {
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0px;
            }

            img {
                max-width: 55px;
            }

            &-description {
                font-size: 15px;
                line-height: 18px;
                margin-left: 15px;
            }
        }
    }

    .LastStep__main--form {
        max-width: 100%;
        margin: 0 auto 30px;
    }

    .thanksQuiz__title {
        font-size: 45px;
        line-height: 57px;
    }

    .thanksQuiz__description {
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 30px;
    }

    .thanksQuiz__img {
        max-width: 70px;
    }

    .thanksQuiz__chinatown {
        max-width: 200px;
    }

    .thanksQuiz {
        background-size: 280px;
        background-position: center 150px;
        min-height: 600px;
    }
}

@media (max-width: 575px) {
    .nav__main--logo img {
        max-width: 40px;
        margin-right: 10px;
    }

    .nav__main--logo-text {
        font-size: 20px;
    }

    .nav__main--logo-text span {
        font-size: 15px;
        line-height: 18px;
    }

    .first__main--title {
        font-size: 22px;
        line-height: 27px;
    }

    .first__main--description {
        font-size: 15px;
        line-height: 18px;
    }

    .first__main--man-mobile {
        max-width: 280px;
    }

    .btn {
        background-color: #c6ac8f;
        font-size: 16px;
        line-height: 20px;
    }

    .btn-prev {
        font-size: 16px;
        line-height: 20px;
    }

    .title {
        font-size: 22px;
        line-height: 27px;
    }

    .nav__main--advertising img:first-child {
        margin-right: 10px;
    }

    .nav__main--advertising img {
        max-width: 135px;
    }

    .thanksQuiz__title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .thanksQuiz__description {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-height: 900px) {
    .first__gerb {
        max-width: 417px;
    }

    .first__man {
        max-width: 525px;
    }

    .steps__passport {
        max-width: 238px;
    }

    .steps__decorGerb {
        max-width: 272px;
    }

    .lastStep__img {
        max-width: 439px;
    }

    .thanksQuiz__chinatown {
        max-width: 537px;
    }
}

@media screen and (max-height: 850px) {
    .first__gerb {
        max-width: 347px;
    }

    .first__man {
        max-width: 412px;
    }

    .title {
        font-size: 33px;
        line-height: 42px;
    }

    .steps__main--pagination {
        margin-bottom: 10px;
    }

    .lastStep__img {
        max-width: 351px;
    }

    .thanksQuiz__chinatown {
        max-width: 437px;
    }
}

@media screen and (max-height: 800px) {
    .first__gerb {
        max-width: 249px;
    }

    .first__man {
        max-width: 319px;
    }

    .steps__argument--element img {
        max-width: 45px;
    }

    .steps__passport {
        max-width: 158px;
    }

    .steps__decorGerb {
        max-width: 157px;
    }

    .title {
        font-size: 22px;
        line-height: 28px;
    }

    .lastStep__img {
        max-width: 264px;
    }

    .thanksQuiz__chinatown {
        max-width: 290px;
    }
}

@media screen and (max-height: 800px) {
    .thanksQuiz__chinatown {
        max-width: 200px;
    }
}